div.plotly-notifier {
  visibility: hidden;
}

div.chart,
div.chart>div {
  height: 450px;
}

div.chart .js-plotly-plot .plotly .cursor-pointer {
  cursor: crosshair;
}

.card {
  text-align: center;
  margin: 1.5em auto;
  width: 42em;
  overflow: hidden;
  padding-bottom: 0.5em;
  border-radius: 16px;
}

.card {
  background: rgb(229, 229, 245);
}

@media (prefers-color-scheme: dark) {
  .card {
    background: rgb(33, 34, 42);
  }
}

#content .card p {
  margin-top: 0;
  margin-bottom: 0;
}

.card img {
  width: 42em;
  height: calc((2160 / 3840) * 42em);
  background-color: rgb(104, 144, 124);
}

.chart .loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media all and (max-width: 47.826em) {
  .card {
    width: 100vw;
    border-radius: 0;
  }

  .card hr {
    width: 80vw;
  }

  .card img {
    width: 100vw;
    height: calc((2160 / 3840) * 100vw);
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}
