body {
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", "Helvetica",
    sans-serif;
  margin: 0;
  hanging-punctuation: first allow-end last;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

nav {
  position: absolute;
  border-radius: 5px;
  top: 8px;
  left: 8px;
  padding: 0.5em;
}

nav a,
nav h1 {
  display: inline-block;
  vertical-align: middle;
}

nav h1 {
  margin-left: 0.3em;
}

nav>a,
nav img {
  height: 2em;
  width: 2em;
}

nav a:hover {
  text-decoration: none;
}

#content p,
#content ul,
#content .chart {
  width: 42em;
  margin: 1em auto;
  padding: 0 1em;
}

#content ul#posts {
  margin-top: 4em;
  list-style-type: none;
}

@media all and (max-width: 47.826em) {
  #content ul#posts {
    margin-top: 2em;
  }

  #date {
    display: none;
  }

  #post h1,
  #post header h2 {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  #content header,
  #content p,
  #content ul,
  #content .chart {
    width: auto;
  }

  #content .chart {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }

  #content header {
    margin-left: auto;
    margin-right: auto;
  }

  nav {
    position: static;
    margin-top: 8px;
    margin-left: 8px;
  }

  #content ul {
    padding-left: 2em;
    margin-left: 0;
  }
}

@media all and (hover: none) {
  .laptop-only {
    display: none;
  }
}

body:not(.safari) .safari-only {
  display: none;
}

body:not(.chrome) .chrome-only {
  display: none;
}

nav h1,
nav img {
  margin: 0;
  padding: 0;
}

nav img {
  border: 0;
  border-radius: 7px;
}

#posts .title a {
  font-size: 1.1em;
  line-height: 1.2em;
}

#posts .subtitle {
  font-size: 0.75em;
  font-style: italic;
}

#posts .date,
#posts .year {
  display: none;
}

#posts .new-year .year {
  display: block;
  margin-left: -1.5em;
  margin-top: 2.4em;
  margin-bottom: 0.8em;
}

#posts li:first-child .year {
  margin-top: 0;
}

#date {
  position: absolute;
  right: 2em;
}

#posts li {
  padding-bottom: 0.8em;
}

#post h1,
#post h2,
#post h3,
#post h4,
#post h5 {
  text-align: center;
}

#post header h2 {
  font-style: italic;
}

#post header h2::first-letter {
  text-transform: uppercase;
}

#post article {
  font-size: 1.06em;
  line-height: 1.7;
}

header {
  margin-top: 8px;
}

nav img {
  background-color: rgb(161, 132, 125);
}

hr {
  border: 0;
  height: 1px;
}

@media (-webkit-min-device-pixel-ratio:2),
(min-resolution:192dpi),
(min-resolution:2dppx) {
  hr {
    height: 0.5px;
  }
}

.hang {
  display: inline-block;
}

body {
  background: #EFEFFF;
  color: #333333;
}

a {
  color: blue;
}

nav {
  background: rgba(239, 239, 255, 0.6);
}

nav a {
  color: black;
}

#date {
  color: rgba(51, 51, 51, 0.6);
}

hr {
  background: rgba(51, 51, 51, 0.6);
  background: linear-gradient(to right, transparent, rgba(51, 51, 51, 0.6), transparent);
}

@media (prefers-color-scheme: dark) {
  body {
    background: #1C1D25;
    color: #A5A6AB;
  }

  a {
    color: #4397F7;
  }

  nav {
    background: rgba(28, 29, 37, 0.6);
  }

  nav a {
    color: #A5A6AB;
  }

  #date {
    color: rgb(165, 166, 171, 0.6);
  }

  hr {
    background: rgba(165, 166, 171, 0.6);
    background: linear-gradient(to right, transparent, rgba(165, 166, 171, 0.6), transparent);
  }
}
